# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gabri\OneDrive\Documentos\Canada\Durham College\S3_2020_Fall\OOP3200\Labs\OOP3200_Java_Lab2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
